.wrapp_cart {
	/* width: 40%; */
	border: 1px solid #8f8f8f;
	border-radius: 20px;
	margin-top: 50px;
	/* margin-left: 20%; */
}
.infor_user {
	/* width: 61%; */
	border: 1px solid #8f8f8f;
	border-radius: 20px;
	/* margin-left: 21%; */
}
.cart_table {
	padding: 30px 50px;
}
.total {
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: 20px;
	color: white;
	background: #f51167;
}
.cart_right {
	margin-top: 53px;
	/* margin-left: 40px; */
}
.shipping_options {
	margin: 20px 0px;
	padding: 20px;
	border: 1px solid;
	border-radius: 20px;
}
.select_options {
	margin: 20px 0px;
	align-items: 'center';
	justify-content: space-between;
	max-width: 220px;
}
.btn_caculate {
	background: #343a40;
	color: white;
}
.btn_checkOut {
	width: 100%;
	color: white;
	background: #f51167;
	/* height: 10%; */
	text-align: center;
	/* padding-top: 13px; */
	margin-bottom: 15px;
	border-radius: 10px;
}
.btn_continue {
	width: 100%;
	/* height: 10%; */
	color: white;
	text-align: center;
	/* padding-top: 13px; */
	background: #343a40;
	border-radius: 10px;
	margin-bottom: 20px
}
.footer_subcirbe {
	width: 100%;
	color: white;
}

.slide_imgs {
	position: relative;
	display: inline-block;
}
.overlayyyy {
	position: absolute;
	top: 0;
	left: 0;
	width: 256px;
	height: 255px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.slide_imgs:hover .overlayyyy {
	opacity: 1;
}
.btn_add_to_cart {
	background: #f51167;
	border: none;
	color: white;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.slide_imgs:hover .btn_add_to_cart {
	opacity: 1;
	color: white;
}
.btn_checkout {
	font-size: 15px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 5px 36px;
	cursor: pointer;
	user-select: none;
	color: black;
	font-weight: bold;
}
.btn_checkout:hover {
	color: #f51167;
}
.des_cart {
	max-width: 20ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
