.header_cate {
	background: #f8f7f7;
	padding: 10px;
	padding-left: 24%;
}
.wrappe_content {
	margin-top: 20px;
	padding: 100px;
}
.side_bar {
	margin: 0 auto;
}
.side_bar_title {
	margin-bottom: 25px;
}
.side_bar_link {
	margin-top: 70px;
	color: #8f8f8f;
}
.quantity {
	margin-left: 15px;
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}
.quantity > input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}
.quantity_except {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}
.quantity_plus {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}
.input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}
.quatity_all {
	align-items: center;
	max-width: 900px;
	margin: 20px 0px;
}
.btn_filter {
	margin-top: 20px;
	width: 80%;
	color: white;
	background: #f51167;
}
.img_product {
	position: relative;
	display: inline-block;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 290px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.img_product:hover .overlay {
	opacity: 1;
}
.add-to-cart {
	background: #f51167;
	border: none;
	color: white;
	position: absolute;
	top: 75%;
	left: 67%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.img_product:hover .add-to-cart {
	opacity: 1;
	color: white;
}
