.wrapper_content {
	justify-content: space-between;
	/* max-width: 950px;
	margin-left: 24%; */
	margin-top: 50px;
	margin-bottom: 100px;
}
.child_cover {
	margin-top: 20px;
}
.img_child {
	margin-left: 10px;
}
.img_child2 {
	margin-left: 20px;
}
.quantity_cart {
	margin-top: 30px;
}
.btn_add {
	width: 98%;
	color: white;
	background: #f51167;
	border: none;
}
.custom-divider {
	margin: 5px 0;
}
