.wrapper_all {
  height: 120%;
}
.footer_title {
  margin: 0 auto;
  justify-content: center;
  max-width: 970px;
  padding-top: 20px;
}
.footer_text {
  margin-top: 10px;
  color: #8f8f8f;
  display: inline-block;
  width: 85%;
}
.footer_img {
  margin-top: 25px;
}
.footer_subcirbe {
  width: 200px;
  margin-top: 10px;
}
.footer_links {
  align-items: center;
  margin-top: 15px;
  justify-content: flex-start;
}
.links_1 {
  margin: 0 10px 10px 0px;
}
.links_2 {
  margin: 0 0px 10px 30px;
}
.blog_img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 22px;
  object-fit: cover;
}
.contact_title {
  float: left;
  color: #f51167;
  margin-right: 15px;
  overflow: hidden;
}
