.form_forgetPass {
  padding: 50px;
  padding-top: 120px;
  margin: 0 auto;
}
.wrapp_form_forget {
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid #6c757d;
  border-radius: 20px;
}
