.header {
	margin: 0 auto;
}
.header_wrapper {
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	padding: 5px;
}
.header_title {
	cursor: pointer;
}
.header_link {
	margin-right: 30px;
}
.header_link_title {
	margin-left: 10px;
}
.header_search {
	border-radius: 20px;
	background: #ccc;
}

/* menu */
.menu {
	height: 30px;
}
.menu_item {
	margin: 0 auto;
	padding-top: 2px;
	align-items: center;
	justify-content: space-between;
	max-width: 700px;
}
.menu_item_link:hover {
	color: #e83e8c !important;
}
