.cart_table_history {
	padding: 30px 50px;
}
.header_history {
	margin-bottom: 50px;
	background: #f8f7f7;
	padding: 10px;
	padding-left: 24%;
}
.wrapp_history {
	width: 80%;
	border: 1px solid #8f8f8f;
	border-radius: 20px;
	margin-top: 50px;
	margin: 0 auto;
	background: #f8f7f7;
}
