.img_home {
	width: 480px;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}
.img_last {
	width: 980px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 20px;
}
.img_cover {
	margin-right: 5px;
	background: url('https://i.pinimg.com/564x/6c/0b/3a/6c0b3a051ccadb85fa6c53883bd4a4da.jpg');
	background-size: cover;
	overflow: hidden;
	width: 480px;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}
.img_titless {
	background: url('https://i.pinimg.com/originals/d2/63/55/d26355a4484cf412669476a57a263abc.png');
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 435px;
	object-fit: cover;
}
.img_title_inside {
	margin-top: 8%;
	color: white;
	margin-left: 18%;
}
.btn_inside {
	margin-right: 15px;
	width: 160px;
	height: 50px;
	font-weight: 700;
}
.btn_inside2 {
	width: 160px;
	height: 50px;
	border: none;
	font-weight: 700;
}
.sale_inside {
	text-align: center;
	background-color: #e83e8c;
	color: white;
	font-white: 600;
	padding: 12px;
	width: 140px;
	/* height: 140px; */
	border-radius: 50%;
	margin-bottom: 30px;
	margin-left: 10px;
	cursor: pointer;
}
.sale_inside1 {
	text-align: center;
	background-color: #e83e8c;
	color: white;
	font-white: 600;
	padding: 12px;
	width: 140px;
	/* height: 140px; */
	border-radius: 50%;
	margin-bottom: 50px;
	margin-left: 10px;
	cursor: pointer;
}
.img_cover1 {
	margin-right: 5px;
	background: url('https://i.pinimg.com/originals/93/a6/3f/93a63f6f1aed829845903321be9bd9e9.jpg');
	background-size: cover;
	overflow: hidden;
	width: 480px;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}
.btn_cover {
	margin-top: 15px;
	padding: 0px 30px;
	font-size: 12px;
	background: #e83e8c;
	color: white;
}
.text_cover {
	padding: 5px 10px;
	background: #e83e8c;
	color: white;
	border-radius: 10px;
}
.img_cover2 {
	background: url('https://i.pinimg.com/originals/52/dc/b4/52dcb4e9c047acf53843cc9e1a1f6a17.jpg');
	margin-top: 30px;
	width: 980px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.text_cover1 {
	padding: 5px 10px;
	background: green;
	color: white;
	border-radius: 10px;
}

.selling_product {
	position: relative;
	display: inline-block;
}
.overlays {
	position: absolute;
	top: 0;
	left: 0;
	width: 256px;
	height: 255px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.selling_product:hover .overlays {
	opacity: 1;
}
.add_to_cart {
	background: #f51167;
	border: none;
	color: white;
	position: absolute;
	top: 75%;
	left: 60%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.favorite_button {
	position: absolute;
	bottom: 10px;
	right: 30px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
}

.selling_product:hover .add_to_cart {
	opacity: 1;
	color: white;
}
.favorite_button:hover {
	color: #e83e8c !important;
}

.slide_img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 250px;
}
.slide_img:hover img {
	transform: scale(1.5);
	transition: transform 0.5s ease;
}
.overlayss {
	position: absolute;
	top: 0;
	left: 0;
	width: 256px;
	height: 255px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.slide_img:hover .overlayss {
	opacity: 1;
	cursor: pointer;
}
.add_to_carts {
	background: #f51167;
	border: none;
	color: white;
	position: absolute;
	top: 75%;
	left: 70%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.favorite_buttons {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
}
.favorite_buttons:hover {
	color: #e83e8c !important;
}
.slide_img:hover .add_to_carts {
	opacity: 1;
	color: white;
}
.text_new {
	position: absolute;
	top: 15px;
	left: 10px;
	background-color: #ff0000;
	color: #ffffff;
	padding: 5px 10px;
	background: green;
	color: white;
	border-radius: 10px;
	font-size: 9px;
	font-weight: 700;
}
.text_new_hot {
	position: absolute;
	top: 15px;
	left: 10px;
	background-color: red !important;
	color: #ffffff;
	padding: 5px 10px;
	background: green;
	color: white;
	border-radius: 10px;
	font-size: 9px;
	font-weight: 700;
}
