.wrapp_form {
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
	border: 1px solid #6c757d;
	border-radius: 20px;
}
.container {
	margin: 50px 50px;
	border-radius: 20px;
}
.img_login {
	width: 600px;
	height: 660px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.form {
	padding: 50px;
}
.email {
	margin: 20px 0px;
}
.btn_submit {
	width: 100%;
	height: 90%;
	color: white;
	border: none;
	background: #f51167;
}
.custom-mail-icon {
	color: #f51167;
}
.orLogin {
	text-align: center;
	margin: 10px 0px;
}
.warpp_orther {
	justify-content: space-between;
}
.btn_facebook {
	width: 48%;
	color: white;
	background: #4866a8;
}
.btn_email {
	width: 48%;
	background: #da3f34;
	color: white;
}
.bottom_text {
	text-align: center;
	font-size: 15px;
	font-weight: boild;
}
