.form_register {
  padding: 50px;
  width: 700px;
}
.wrapp_form_register {
  justify-content: space-between;
  max-width: 1315px;
  margin: 0 auto;
  border: 1px solid #6c757d;
  border-radius: 20px;
}
.btn_register {
  margin-top: 10px;
  width: 100%;
  height: 90%;
  color: white;
  background: #f51167;
}
.img_register {
  width: 600px;
  height: 663px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
