.ant-tabs-ink-bar {
	background: #e83e8c !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #e83e8c !important;
	font-weight: 500;
}
.ant-tabs-nav .ant-tabs-tab:hover {
	color: #e83e8c !important;
}
