.wrapp_wishList {
	/* width: 50%; */
	border: 1px solid #8f8f8f;
	border-radius: 20px;
	margin-top: 50px;
	background: #f8f7f7;
}
.wish_right {
	margin-top: 55px;
	/* margin-left: 30px; */
}
.list_item {
	margin-top: 20px;
}
.list_item:hover {
	transform: translateY(-13px);
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
}
