@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');

/* @font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');
}

@font-face {
	font-family: 'Josefin Sans';
	font-style: italic;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');
}

@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');
}

@font-face {
	font-family: 'Josefin Sans';
	font-style: italic;
	font-weight: 300;
	src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap');
} */

body,
html {
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5;
	font-weight: 400;
}
